/*
Site footer
*/

.site-footer {
    padding: 40px 0;
    margin-top: 80px;
    background: #e8dabd;
}

body.home .site-footer {
    margin-top: 0;
}

.site-footer ul,
.site-footer ol {
    list-style-type: none;
    padding: 0
}

.site-footer li {
    margin: 10px 0
}

.site-footer p {
    text-align: left
}

.site-footer .row {
    margin: 0px;
}

#footer-site-title a {
    display: inline-block;
    background: url(../img/logo_footer.png) 0 0 no-repeat;
    width: 179px;
    height: 82px;
    font-size: 0px;
    margin-bottom: 14px;
}

.site-footer .links {
    margin-top: 35px;
}

.site-footer .contact {
    padding: 20px 60px;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 20px;
}

.site-footer .links h4 {
    font-size: 14px;
    font-weight: bold;
}

.site-footer .links a {
    color: #000000;
    font-size: 14px;
}

.site-footer .icons .logo img {
    position: absolute;
    margin-top: -20px;
}

.site-footer .icons .social {
    margin-top: 20px;
}

.site-footer .icons .social img {
    width: 30px;
    height: 30px;
}

.copyright {
    background: #4c4f48;
    font-size: 14px;
    color: #ffffff;
    padding: 20px 0;
}

.copyright p {
    margin: 0;
}

.copyright a {
    color: #ffffff;
}

.copyright .dropup.language {
    float: right;
}

.copyright .dropup .btn {
    border-radius: 0;
}