/*
Common reusable styles
*/

.btn-red, .btn-white {
    padding: 15px 40px;
    font-weight: 900;
    font-size: 18px;
    outline: none;
    line-height: normal;
    transition: none;
    letter-spacing: 2px;
    border: 1px solid #ba4c31;
}

.btn-white {
    background: #ffffff;
    color: #ba4c31;
}

.btn-red {
    background: #ba4c31;
    color: #ffffff;
}

.btn-red:hover {
    color: #ba4c31;
    background: #ffffff;
}

.btn-white:hover {
    color: #ffffff;
    background: #ba4c31;
}

.indent-top {
    margin-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'HelveticaNeueCyr-Medium';
    margin: 0px;
    padding: 0 0 20px 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 34px;
}

h5 {
    font-size: 32px;
}

h6 {
    font-size: 30px;
}