#main-menu-wrapper {
    position: relative;
    margin-bottom: 100px;
}

#main-menu {
    padding: 30px 0;
    margin: 0;
}

body.home #main-menu.navbar-static-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#main-menu .donate {
    display: none;
}

#main-menu .donate a {
    font-size: 24px;
}

#main-menu .navbar-toggle {
    margin-top: 14px;
}

#main-menu.navbar-static-top .donate {
    display: block;
    float: right;
}

body.home #main-menu.navbar-static-top #site-title {
    display: none;
}

body #main-menu.navbar-fixed-top #navbar {
    margin-top: 10px;
}

ul#menu-main a {
    font-size: 24px;
    color: #4c4f48;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.3s;
}

ul#menu-main a:hover {
    border-color: #4c4f48;
}

ul#menu-main li {
    padding: 0 14px;
}

@media only screen and (max-width: 768px) {
    #main-menu .navbar-collapse {
        width: 100%;
        margin: 0;
    }

    body #main-menu.navbar-fixed-top #site-title {
        position: relative;
        float: left;
        margin-left: 40px;
    }

    #main-menu {
        padding: 10px 0;
    }

    ul#menu-main li:last-child a {
        width: 146px;
    }

    body.home #main-menu.navbar-static-top .donate {
        display: none;
    }
}